<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1064595304748-f2g4tteih690mt6vip207bnoklqiroa7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1064595304748-f2g4tteih690mt6vip207bnoklqiroa7</string>
	<key>API_KEY</key>
	<string>AIzaSyA837bPajbBXknRPbAe_8ZyVOB3GTj5QjE</string>
	<key>GCM_SENDER_ID</key>
	<string>1064595304748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sumitranjan245.munkyboxchef</string>
	<key>PROJECT_ID</key>
	<string>munkybox-chef</string>
	<key>STORAGE_BUCKET</key>
	<string>munkybox-chef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1064595304748:ios:ccd0c13fc7422db04d3c89</string>
</dict>
</plist>