<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>482930462579-dj04ip0ihorhhsrbp9bb4ga5h56cjc9u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.482930462579-dj04ip0ihorhhsrbp9bb4ga5h56cjc9u</string>
	<key>API_KEY</key>
	<string>AIzaSyDtidjlJG1CEgVVZIOPbztOVlCx3X3badI</string>
	<key>GCM_SENDER_ID</key>
	<string>482930462579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.feasti.feast-chef</string>
	<key>PROJECT_ID</key>
	<string>feasti-chef</string>
	<key>STORAGE_BUCKET</key>
	<string>feasti-chef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482930462579:ios:3fd21be31def6817ceff06</string>
</dict>
</plist>